<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sgomez.ejercicios.apuntaextra">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.IniciarSesionActivity" />

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="7fd4572Fnf1o4JDhU5Nm571XmL9EvwESk07Lzay8" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="1sJfYdhL6PbpuCnmpvKhbXnfwnCj1tVDobPxmbB4" />

        <activity android:name=".Activities.PerfilActivity"></activity>
    </application>

</manifest>
